@media screen and (max-width: 1024px) {
  /*Header*/

  header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /*Main*/

  /*Inicio*/
  main section#inicio h1 {
    font-size: 5rem;
    text-align: center;
  }

  /*Formação*/
  div#conteudo-formacao li.formacao-item {
    display: flex;
    flex-direction: column;
  }
  div#conteudo-formacao li.formacao-item img {
    margin-left: 2.4rem;
  }
}

@media screen and (max-width: 375px) {
  section#publicacoes div#conteudo-publicacoes article.publicacao {
    height: auto;
  }

  section#inicio h1 {
    font-size: 3rem;
    text-align: center;
  }
}
